@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.cover {
  background-image: url(../../assets/images/land.jpg);
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 95%;
  position: relative;
}
.signup {
  min-height: calc(100vh - 7rem);
  padding-top: 5rem;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 24rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    border-radius: 2.0156rem;
  }

  &__image {
    border-radius: 50%;
    width: 6rem;
  }
}
