$flex-direction: column;
$align-items: center;
$justify-content:space-between;

//PRIMARY COLORS
// $black: #9dffb0;
$black: #fffffa;
$indigo:#81f1f7;
$white:#FFFFFF;
$beige: #fffffa;
//SECONDARY COLORS
$link: #6b5c43;
$cloud: #BDC5D5;
$sage: #6c9764;
$peach:#F5F1C9;
//BACKGROUND COLORS
$graphite: #1e9d5f;
$yellow: #f1e26f;
//SUPPORTING COLORS
$green: #158463;
$red: #d34433;
$box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);