.input {
  &__box {
    width: 100%;
  }

  &__label {
    color: black;
    display: inline-block;
  }

  &__input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.4rem;

    &:focus {
      outline: none;
    }
  }
}
